<%= render "users/nav"%>

<div class="row">
  <div class="question_show col-md-4 col-md-offset-4">
    <table class="question_index table table-hover">
      <thead>
          <tr>
          <th scope="col" >Questions</th>
          </tr>
      </thead>

      <tbody>
          <% @questions.each do |question| %>
          <tr>
              <td><%= link_to question.title, question_path(@current_user, question) %></td>
          </tr>
          <%end%>
      </tbody>
    </table>
  </div>
</div>




