 <div class="navbar navbar-fixed-top navbar-custom" role="navigation">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="#shop"><span class="glyphicon glyphicon-globe"></span> About</a></li>
				<li><a href="#support"><span class="glyphicon glyphicon-phone-alt"></span> Support</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
            <!--################### use .html_safe inside of link_to for the glyphicon ################ -->
                <li><%=link_to '<i class="glyphicon glyphicon-user"></i> Sign up'.html_safe, new_user_path%></li>
                <li><%=link_to '<i class="glyphicon glyphicon-log-in"></i> Log in'.html_safe, login_path%></li>
            </ul>
		</div>
    </div>
</div>

<!--
 <li><%=link_to login_path%><i class="glyphicon glyphicon-user"></i></li>


 <li class="glyphicon glyphicon-user"><span ></span></li>
<%=link_to "Signup", new_user_path%>
-->
