<button class="split centered">
<h1>Codera</h1>
<p>“First, solve the problem. Then, write the code.” – John Johnson</p>
<div class="homepage_1 btn btn-primary"><%=link_to "login", login_path%></div>
<div>OR</div>
<div class="homepage_2 btn btn-primary"><%=link_to "signup", signup_path%></div>