<h1><%= @user.full_name%></h1>
<h2>My Questions</h2>
<ul>
<h2><%@user.questions.each do |question|%></h2>
<li>Question: <%=link_to question.title, question_path(question)%><br>
tags: <% question.category_name.each do |name|%>
<%=name%>
<%end%>
</li>
<%end%>
</ul>