
<h3>
<%= gravatar_for @user %>
<%= @user.full_name%>
</h3>
<h4>My Questions</h4>
<ul>
<h4><%@user.questions.each do |question|%></h4>
<li>Question: <%=link_to question.title, question_path(question)%><br>
tags: <% question.category_name.each do |name|%>
<%=name%>
<%end%>
</li>
<%end%>
</ul>


