/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

 /*
 *= require rails_bootstrap_forms
 */


/************************ body for all ******************************************/

body {
    background-image:url('https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-repeat:repeat;
    background-attachment: fixed;
    padding-top: 52px;
}

/************************ body for all *****************************************/


/************************ formating home page **********************************/
.split {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    position: fixed;
    z-index: 3;
    top: 0;
    font-size:20px;
    color:white;
    overflow-x: hidden;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

body > button > div > a{
    color:white;
    width:100px;
    font-size:3vh;
    font-family: Lobster, Monospace;
}

body > button > div > a:hover{
    color:white;
}

body > button > h1{
    font-size: 15vh;
    font-family: 'Anton';
    font-weight: bold;
}

body > button > p.home_subtitle{
    font-size: 3vh;
    font-family: Lobster, Monospace;
}


body > button > div.homepage_1.btn.btn-primary{
    width:100px;
    animation: homepage_1 1.3s;
    animation-direction: reverse;
}

body > button > div.homepage_2.btn.btn-primary{
    width:100px;
    animation: homepage_2 1.3s;
    animation-direction: reverse;
}

@keyframes homepage_1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, 500PX);
  }
}

@keyframes homepage_2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -500PX);
  }
}

div.or{
    font-size:2vh;
}
/************************ body home page ***************************************/

 /************************ formating nav bar  **********************************/
.navbar-custom{
    background: rgba(68, 147, 221, 0.2);
} 

.navbar-brand, .nav.navbar-nav li a, .my_question td{
    color: rgba(8, 8, 8, 1);
}

#error_explanation {
    color: red;
    margin: 0 0 30px 0;
}

.signup_link{
    font-size: 18px;
    font-family: Lobster, Monospace;
}

#form{
    font-size: larger;
    overflow: auto;
    padding-top: 100px;
    font-family: 'Cuprum', sans-serif;
}

h1.welcome{
    text-align: center;
    font-family: Lobster, Monospace;
    font-size: 5vh;
}

.col-md-4.col-md-offset-4{
    overflow: auto;
}

.field_with_errors{
    @extend .has_error;
    .form-control{
        color: $state-danger-text;
    }
}

/************************ formating nav bar  ******************************************/


 /************************ formating question index  **********************************/

  /* .grid-container.question {
    display: grid;
    grid-gap: 70px 70px;
    grid-template-rows: auto;
    overflow:auto;
  }

.grid-item.question{
    font-size: 30px;
}

.tag{
    background-color: rgb(153, 206, 101);
    border: solid;
} */

/* body {
    margin: 40px;
  }
  
  .box {
    color: rgb(138, 13, 13);
    background-color: rgb(86, 24, 202);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  } */
/* #container_question{
    grid-column-start: 2;
    background-color: rgb(86, 24, 202);
} */

.card-body{
    margin-bottom: 5vh;
}



/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.card-title{
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 1.6em;
}

.card-body p{
    color:greenyellow;
}

 /************************ formating question index  ***************************************/


 /************************ formating category index page  **********************************/
.grid-container.category {
    display: grid;
    width: 70%;
    grid-gap: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    padding-top: 40px;
  }
  
.grid-item.category{
  background-color: rgba(68, 147, 221, 0.2);
    padding: 40px;
    width: 300px;
    height: 130px;
    border-radius: 5%;
    font-size: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

.grid-item.category:hover{
    transform: translate(-20px);
  }

/************************ formating category index page  **********************************/