/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

 /*
 *= require rails_bootstrap_forms
 */


/************************ body for all ******************************************/

body {
    background-image:url('https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-repeat:repeat;
    background-attachment: fixed;
    padding-top: 52px;
}

/************************ body for all *****************************************/


/************************ formating home page **********************************/
.split {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    position: fixed;
    z-index: 3;
    top: 0;
    font-size:20px;
    color:white;
    overflow-x: hidden;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

body > button > div > a{
    color:white;
    width:100px;
    font-size:3vh;
    font-family: Lobster, Monospace;
}

body > button > div > a:hover{
    color:white;
}

body > button > h1{
    font-size: 15vh;
    font-family: 'Anton';
    font-weight: bold;
}

body > button > p.home_subtitle{
    font-size: 3vh;
    font-family: Lobster, Monospace;
}


body > button > div.homepage_1.btn.btn-primary{
    width:100px;
    animation: homepage_1 1.3s;
    animation-direction: reverse;
}

body > button > div.homepage_2.btn.btn-primary{
    width:100px;
    animation: homepage_2 1.3s;
    animation-direction: reverse;
}

@keyframes homepage_1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, 500PX);
  }
}

@keyframes homepage_2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -500PX);
  }
}

div.or{
    font-size:2vh;
}
/************************ body home page ***************************************/

 /************************ formating nav bar  **********************************/
.navbar-custom{
    background: rgba(68, 147, 221, 0.2);
} 

.navbar-brand, .nav.navbar-nav li a, .my_question td{
    color: rgba(8, 8, 8, 1);
}

#error_explanation {
    color: red;
    margin: 0 0 30px 0;
}

.signup_link{
    font-size: 18px;
    font-family: Lobster, Monospace;
}

#form{
    font-size: larger;
    overflow: auto;
    padding-top: 100px;
    font-family: 'Cuprum', sans-serif;
}

h1.welcome{
    text-align: center;
    font-family: Lobster, Monospace;
    font-size: 5vh;
}

.col-md-4.col-md-offset-4{
    overflow: auto;
}

.field_with_errors{
    @extend .has_error;
    .form-control{
        color: $state-danger-text;
    }
}

/************************ formating nav bar  ******************************************/


/************************ formating user show page  ***********************************/

.user_home_section_1{
  /* border: solid 5px; */
  padding: 3vh;
}

.user_full_name_show{
  font-size: 5vh;
  font-family: Lobster, Monospace;
  animation: user_name 1.2s;
  animation-direction: reverse;
  /* background-color: rgb(132, 96, 218); */
}

@keyframes user_name {
0% {
  transform: translate(0, 0);
}
100% {
  transform: translate(0px, -300PX);
}
}



.user_home_section_2{
  margin-bottom: 3vh;
  background-color:rgba(127, 174, 218, 0.2);
}

.user_home_section_3{
  background-color:rgba(127, 174, 218, 0.2);
}

.user-home-page-font{
  font-weight: bold;
  font-family: Monospace;
  font-size:3.5vh;
}

.user_home_page-question-font{
  font-size:3vh;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}





/************************ formating user show page  ***********************************/

.card-title.question_index{
  color: rgb(0, 0, 0);
}

.card-title.question_index:link {
  text-decoration: none;
}

.card-title.question_index:hover {
  color: rgba(11, 4, 112, 0.795);
}

/* .card-body p{
    color:greenyellow;
} */

.col-md-6.col-md-offset-3.question_index{
  padding-top: 1vh;
}

.col-md-6.col-md-offset-3.question_index .card{
  background-color: rgba(138, 131, 139, 0.2);
  margin: 1vh;
  padding: 1.5vh;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.col-md-6.col-md-offset-3.question_index .card:hover{
  transform: translate(20px);
  background: rgba(68, 147, 221, 0.2);
}


.question_show_username{
  text-align:right;
  padding-right:2vh;
  font-size: 2vh;
  font-family: Monospace;
}

.question_show_answer{
  font-size: 2vh;
  font-family: Monospace;
}
.col-md-6.col-md-offset-3.question_index .card-title{
  font-size: 3vh;
}

 /************************ formating question index  ***************************************/


 /************************ formating category index page  **********************************/
.grid-container.category {
    display: grid;
    width: 70%;
    grid-gap: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    padding-top: 40px;
  }
  
.grid-item.category{
  background-color: rgba(68, 147, 221, 0.2);
    padding: 40px;
    width: 300px;
    height: 130px;
    border-radius: 5%;
    font-size: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

.grid-item.category:hover{
    transform: translate(-20px);
  }

/************************ formating category index page  **********************************/

/* question show page */
.col-md-8.col-md-offset-2.question_show{
  margin-top: 5vh;
  background-color: rgba(138, 131, 139, 0.2);
}

.col-md-8.col-md-offset-2.question_show .card-title{
  font-size: 5vh;
}

.question_link_show_edit_and_delete{
  text-align: right;
}

.question-show-answer-section{
  font-size:3vh;
  margin: 2vh;
}

.quesiton-show-answer-content{
  text-indent: 50px;
}

/* .gravatar{
  float:left;
} */