/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

 /*
 *= require rails_bootstrap_forms
 */


body {
    background-image:url('https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); 
    background-repeat:repeat;
    padding-top: 75px;
}

.navbar-custom{
    background: rgba(68, 147, 221, 0.2);
} 

.navbar-brand, .nav.navbar-nav li a, .my_question td{
    color: rgba(8, 8, 8, 1);
}


.welcome{
    text-align: center;
}

.signup_link{
    font-size: 18px;
}

#form{
    font-size: larger;
    overflow: scroll;
    font-family: 'Cuprum', sans-serif;
}


#error_explanation {
    color: red;
    margin: 0 0 30px 0;
}
.col-md-4.col-md-offset-4{
    overflow: scroll;
}

.field_with_errors{
    @extend .has_error;
    .form-control{
        color: $state-danger-text;
    }
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    position: fixed;
    z-index: 3;
    top: 0;
    font-size:20px;
    color:white;
    overflow-x: hidden;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body > button > div > a{
    color:white;
    width:100px;
    font-size:20px;
  }

  body > button > div > a:hover{
      color:white;
    }

body > button > h1{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body > button > div.homepage_1.btn.btn-primary{
    width:100px;
    animation: homepage_1 2s;
    animation-direction: reverse;
}

body > button > div.homepage_2.btn.btn-primary{
    width:100px;
    animation: homepage_2 1s;
    animation-direction: reverse;
}

@keyframes homepage_1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, 400PX);
  }
}

@keyframes homepage_2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -400PX);
  }
}



