<%=render "users/nav"%>

<div class="grid-container">
  <% @categories.each do |category|%>
      <div class="grid-item category"><%=link_to category.name, category_path(category)%></div>
  <%end %>
</div>